@font-face {
  font-family: "RalewayBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype"); }

@font-face {
  font-family: "Bringin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bringin/Bringin.eot?#iefix") format("embedded-opentype"), url("../fonts/Bringin/Bringin.woff") format("woff"), url("../fonts/Bringin/Bringin.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: "TimesNewRomanRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.woff") format("woff"), url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.ttf") format("truetype"); }

@font-face {
  font-family: "TimesNewRomanItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/TimesNewRomanItalic/TimesNewRomanItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanItalic/TimesNewRomanItalic.woff") format("woff"), url("../fonts/TimesNewRomanItalic/TimesNewRomanItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoBlack";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoBlack/RobotoBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBlack/RobotoBlack.woff") format("woff"), url("../fonts/RobotoBlack/RobotoBlack.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype"); }

@font-face {
  font-family: "LeagueGothicRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype"); }
