body {
  background-color: #333; }

h2 {
  font-family: OpenSansBold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px; }

h1 {
  font-family: OpenSansBold;
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase; }
